*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-repeat: no-repeat;
}
ul, ol{
     list-style: none;
}
a{
     text-decoration: none;
     color: inherit;
}
select, input, button, textarea, option{
     border: 0;
     background-color: transparent;
}
img{
     display: block;
     width: 100%;
}
/* 리셋  끝  */

header{}
header .wrap{
     min-width: 300px;
     height: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #a57dff;
}
header .wrap .btn-nav, .btn-mem{
     width: 50px;
     height: 50px;
}
header .wrap h1 a .m{
     width: 63px;
     height: 37px;
}
header .wrap h1{
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
}
header .wrap h1 a .pc{
     display: none;
}
header .wrap .btn-mem{
     display: flex;
     justify-content: center;
}
header .wrap .btn-mem button img{
     width: 16px;
     height: 19px;
}
header .wrap .btn-nav button{
     font-size: 0;
     display: flex;
     flex-direction: column;
     gap: 4px;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
     
}
header .wrap .btn-nav button::before,
header .wrap .btn-nav button span,
header .wrap .btn-nav button::after{
     content: '';
     display: block;
     width: 26px;
     height: 4px;
     background-color: #fff;
     border-radius: 4px;
}
header .wrap nav{
     position: fixed;
     top: 0;
     left: -100%;
     width: 100%;
     height: 100%;
     background-color: #a57dff;
     transition: all 0.3s;
     z-index: 1;
}
header .wrap nav .btn-close{
     width: 100%;
     height: 50px;
     display: flex;
}
header .wrap nav .btn-close button{
     font-size: 0;
     margin-left: auto;
     padding-right: 12px;
     position: relative;
}
header .wrap nav .btn-close button::before{
     content: '';
     display: block;
     background-color: #fff;
     width: 24px;
     height: 2px;
     transform: translate(-50%, -50%) rotate(45deg);
     border-radius: 4px;
     position: absolute;
}
header .wrap nav .btn-close button::after{
     content: '';
     display: block;
     background-color: #fff;
     width: 24px;
     height: 2px;
     transform: translate(-50%, -50%) rotate(-45deg);
     border-radius: 4px;
     position: absolute;
          
}
header .wrap nav .gnb li{
     padding: 5px 20px;
}
header .wrap nav .gnb li a{
     font-size: 30px;
     color: #fff;
     font-weight: bolder;
}
header .wrap nav .log-join{
     display: flex;
     justify-content: center;
     color: #fff;
     margin-top: 10px;
     font-size: 20px;
     font-weight: 500;
}
header .wrap nav .log-join li{
     display: flex;
}
header .wrap nav .log-join li::after{
     content: '|';
     display: block;
     margin: 0 4px;
     
}
header .wrap nav .log-join li:last-child::after{
     content: none;
}
.banner a .pc{
     display: none;
}

.wrapper{
     min-width: 300px;
     margin: 0 auto;
}
.wrapper .section1{
     padding-top: 30px;
     padding: 20px;
     text-align: center;
     margin-bottom: 50px;
}
.wrapper section h2{
     font-family: 'Donuts & Cookies';
     font-size: 30px;
     padding-top: 20px;
     padding-bottom: 12px;
}
.wrapper section p{
     font-family: 'Pretendard';
     font-size: 14px;
}
.wrapper .section2{
     padding: 0 20px;
     text-align: center;
     margin-bottom: 50px;
}
.wrapper .section3 h3{
     text-align: center;
     font-family: 'pretendard';
     font-weight: 1000;
     font-size: 24px;
     margin-bottom: 20px;
}
.wrapper .section3 .box a{
     width: 100%;
     height: auto;
     display: flex;
     gap: 10px;
     align-items: center;
     padding: 10px 12px;
     border-radius: 10px;
     box-shadow: 8px 8px 12px 4px #e2dee9;
}
.wrapper .section3 .box a div{
     font-family: 'pretendard';
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.wrapper .section3 .box a div h4{
     font-size: 18px;
}
.wrapper .section3 .box a img{
     width: 110px;
     height: 110px;
     border-radius: 10px;
}
.wrapper .section3 .box{
     margin-bottom: 20px;
     display: flex;
     justify-content: center;    
}
.wrapper .section3 .box a div p{
     color: #858585;
}
.wrapper .section3 .btn-plus{
     display: block;
     font-size: 0;
     border-radius: 50%;
     width: 70px;
     height: 70px;
     background-color: #a57dff;
     margin: 50px auto;
     box-shadow: 2px 2px 10px 4px #e3ddec;
}
.wrapper .section3 .btn-plus::before{
     content: '';
     display: block;
     width: 30px;
     height: 4px;
     background-color: #fff;
     margin: 0 auto;
     transform: translateY(2px);
}
.wrapper .section3 .btn-plus::after{
     content: '';
     display: block;
     width: 30px;
     height: 4px;
     background-color: #fff; 
     margin: 0 auto;
     transform: translateY(-2px) rotate(90deg);
}
.banner2{
     margin: 0 auto;
     width: 100%;
     height: 260px; /* vh: vertical height의 약자.
     반응형 웹을 만든다고 했을때 %로 크기 정하는건 한계가 있다.
     그럴 때 vh와 vw를 사용.
     뷰토프 크기(브라우처창의 크기)의 100분의 1에 해당하는 단위. */
     margin-bottom: 60px;
     position: relative;
     
}
.banner2 .text .tablet{
     display: none;
}
.banner2 .box{
     background-image: url(../images/back.jpg);
     background-attachment: fixed;
     background-position: center center;
     background-size: cover;
     height: 260px;
     width: 100%;
     
}
.banner2 .text{
     text-align: center;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: #fff;
     font-family: 'pretendard';
     font-size: 20px;
     background-color: rgba(0,0,0,0.4);
}
.banner2 .text p{
     margin-bottom: 14px;
}
.banner2 .text .btn .membership a{
     background-color: #fff;
     width: 180px;
     height: 40px;
     color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 5px;
     font-size: 16px;
     border-radius: 20px;
}
.banner2 .text .btn .app a{
     background-color: #fff;
     width: 180px;
     height: 40px;
     color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 5px;
     font-size: 16px;
     border-radius: 20px;
}
.wrapper .sns .icon a img{
     width: 40px;
     height: 40px;
}
.wrapper .sns .icon{
     display: flex;
}
.wrapper .sns{
     width: 100%;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.wrapper .sns .icon a{
     margin: 6px 4px 20px;
}
.wrapper .sns p{
     font-size: 24px;
     font-weight: 1000;
     font-family: 'pretendard';
}
.wrapper .event .box{
     margin-bottom: 24px;
}
footer{
     background-color: #a57dff;
     color: #fff;
     min-width: 300px;
     text-align: center;
     padding-bottom: 70px;
}
footer .title{
     font-family: 'Donuts & Cookies';
     padding: 22px 0 0;
     font-size: 30px;
}
footer p{
     font-family: 'pretendard';
     font-size: 13px;
     margin-top: 20px;
}

@media (min-width: 768px){
     .banner a .m{
          display: none;
     }
     .banner a .pc{
          display: unset;
     }
     .wrapper{
          width: unset;
          padding: 0 20px;
     }
     .wrapper .section1{
          display: grid;
          grid-template-columns: 50% 50%;
          text-align: unset;
          gap: 20px;
          align-items: center;
     }
     .wrapper .section2{
          display: grid;
          grid-template-columns: 50% 50%;
          text-align: right;
          gap: 20px;
          align-items: center;
     }
     .wrapper .section2 .text{
          order: 1;
     }
     .wrapper .section2 img{
          order: 2;
     }
     .wrapper .section3 .con{
          display: grid;
          grid-template-columns: 50% 50%;
     }
     .wrapper .event{
          display: flex;
          gap: 15px;
     }
     footer{
          text-align: left;
          padding-left: 20px;
     }
     .banner2{
          margin: 0 auto;
          width: 100%;
          height: 320px; /* vh: vertical height의 약자.
          반응형 웹을 만든다고 했을때 %로 크기 정하는건 한계가 있다.
          그럴 때 vh와 vw를 사용.
          뷰토프 크기(브라우처창의 크기)의 100분의 1에 해당하는 단위. */
          margin-bottom: 60px;
          position: relative;
     }
     .banner2 .box{
          height: 320px;
     }
     .banner2 .text .tablet{
          display: unset;
     }
     .banner2 .text .btn{
          display: flex;
          gap: 10px;
     }
     
     .banner2 .text .btn .app a{         
          width: 120px;
     }
     .banner2 .text .btn .membership a{         
          width: 120px;
     }
     .banner2 .text{
          text-align: unset;
          align-items: unset;
          padding-left: 40px;
     }
     .banner2 .text p:nth-child(1){
          font-family: 'Donuts & Cookies';
          font-size: 30px;
          letter-spacing: 2px;
     }
     .banner2 .text p:nth-child(2){
          font-size: 30px;
          letter-spacing: 1px;
          
     }
     .banner2 .text p:nth-child(3){
          font-size: 15px;
          font-weight: 200;
          letter-spacing: 1px;
     }
     .banner2 .text p span{
          font-weight: bold;
     }
}
@media (min-width: 1200px){
     .wrapper{
          padding: 0 100px;
     }
     header{
          height: 180px;
          background-color: #fff;
          border-top: 2px solid #a57dff;
          align-items: unset;
          position: relative;
     }
     header h1 a .m{
          display: none;
     }
     header h1 a .pc{
          display: block;
          width: 85%;
          height: 85%;
          padding-top: 20px;
     }
     header .btn-nav{
          display: none;
     }
     header nav{
          position: unset;
          top: unset;
          left: unset;
          background-color: unset;
          transition: none;
     }
     header nav .btn-close{
          display: none;
     }
     header nav .gnb{
          width: 100%;
          display: flex;
          justify-content: center;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
     }
     header nav .gnb li a{
          color: black;
          font-size: 14px;
          padding: unset;
     }
     header nav .log-join{
          position: absolute;
          right: 200px;
     }
     header nav .log-join li a{
          color: black;
          font-size: 12px;
     }
     .banner a .pc{
          display: none;
     }
     .banner a{
          display: block;
          height: 520px;
          background-image: url(../images/banner.jpg);
          background-position: center center;
          background-size: cover;
     }
     
     .wrapper .section3{}
     .wrapper .section3 h3{}
     .wrapper .section3 .con{
          display: grid;
          grid-template-columns: repeat(4, calc(100% / 4));
          gap: 15px;
          justify-content: center;
     }
     .wrapper .section3 .con .box{
          height: auto;
          margin-bottom: 20px;
          display: block;
          justify-content: center;    
     }
     .wrapper .section3 .con .box a{
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: left;
          padding: unset;
          border-radius: 20px;
          box-shadow: 8px 8px 12px 4px #e2dee9;
     }
     .wrapper .section3 .con .box a img{
          width: 100%;
          height: auto;
          border-radius: 20px;
          border-bottom-right-radius: unset;
          border-bottom-left-radius: unset;
     }
     .wrapper .section3 .con .box a div{
          font-family: 'pretendard';
          display: flex;
          flex-direction: column;
          gap: 5px;
     }
     .wrapper .section3 .con .box a div h4{
          font-size: 15px;
     }
     .wrapper .section3 .con .box a div p{
          color: #858585;
          font-size: 12px;
          padding-bottom: 20px;
     }
     .wrapper .sns p{
          display: none;
     }
}